In [78]:
import time
import pandas as pd
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
import reD

In [79]:
chromeOptions = webdriver.ChromeOptions()
chromeOptions.add_argument("start-maximized")

s = Service('./chromedriver.exe')
driver = webdriver.Chrome(service=s, options=chromeOptions)

driver.get("https://ahu.go.id/pencarian/profil-pt")

WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//div[@class='input']")))
driver.find_element(By.XPATH, "//div[@class='input']").click()
input_field = driver.find_element(By.XPATH, "//div[@class='input']/input[@id='nama']")
input_field.send_keys('PT TEST')

time.sleep(1)

WebDriverWait(driver, 10).until(EC.frame_to_be_available_and_switch_to_it((By.CSS_SELECTOR,"iframe[name^='a-'][src^='https://www.google.com/recaptcha/api2/anchor?']")))
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//span[@id='recaptcha-anchor']"))).click()

In [22]:
driver.execute_script("window.open('https://man.kupu.id/');")

driver.switch_to.window(driver.window_handles[1])
    
WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.XPATH, "//input[@name='username']"))).send_keys('irvin')

driver.find_element(By.XPATH, "//input[@name='password']").send_keys('Indonesia')

driver.find_element(By.XPATH, "//button[@class='el-button n_btn pointer el-button--primary el-button--medium']").click()

time.sleep(1)

WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//img[@data-v-0480341f]")))

driver.get("https://man.kupu.id/#/company")

time.sleep(1)

WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//span[(contains(text(),'30/page'))]/../../../../../.."))).click()

time.sleep(1)

WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//span[(contains(text(),'100/page'))]"))).click()

time.sleep(1)

In [27]:
old_scraped_data = pd.read_csv('Scraped Data.csv')

time_done = old_scraped_data['Update Time'].tolist()

In [28]:
business_name_list = []

business_id_list = []

update_time_list = []

temp_checker = []

In [29]:
#38518 total

In [30]:
WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.XPATH, "//tr[@class ='el-table__row']/td[not(contains(@class,'is-hidden'))][6]/div[not(.//button)]")))

found_time = False

page = 0

while found_time == False:
    
    try:
    
        time.sleep(1)
        
        WebDriverWait(driver, 60).until(EC.element_to_be_clickable((By.XPATH, "//td[not(contains(@class,'is-hidden'))]//button[@class='el-button el-button--default el-button--small is-round']")))

        business_name = driver.find_elements(By.XPATH, "//tr[@class ='el-table__row']/td[not(contains(@class,'is-hidden'))][6]/div[not(.//button)]")

        business_id = driver.find_elements(By.XPATH, "//tr[@class ='el-table__row']/td[not(contains(@class,'is-hidden'))][2]/div[not(.//button)]")

        update_time = driver.find_elements(By.XPATH, "//tr[@class ='el-table__row']/td[not(contains(@class,'is-hidden'))][3]/div[not(.//button)]")


        business_name_text = []

        business_id_text = []

        update_time_text = []

        for names in business_name:
                business_name_text.append(names.text)

        for ids in business_id:
                business_id_text.append(ids.text)

        for times in update_time:
                update_time_text.append(times.text)


        for index, update_time in enumerate(update_time_text):

            if update_time in time_done:
                
                found_time = True 
                
                break

            else:

                if business_name_text[index].lower().startswith("pt"):

                    temp = business_name_text[index].replace(".", " ")

                    temp_checker.append(temp)

                    print(temp)

                    business_name_list.append(business_name_text[index])

                    business_id_list.append(business_id_text[index])

                    update_time_list.append(update_time_text[index])
                    
    except:
        
        pass
                    
    try:
        
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//button[@class='btn-next']"))).click()
        
        page = page +1
        
        print('Page: '+ str(page))

        time.sleep(5)
        
    except:
        
        break

PT Benza Teknik Mandiri
PT  SALESINDO CENDRATAMA BUANA
PT  PRIMA FAJAR CAHAYA SURYA
PT Wara Wiri
PT Rangko Jaya Manufacturing
PT KPF JAYAKARTA
PT Jagad Jaya Luggasindo
PT  Konstruksi Era Mandiri
PT Indocore Perkasa
PT  RIFAN FINANCINDO
Page: 1

In [56]:
scraped_data = pd.DataFrame(
    {'Business ID': business_id_list,
     'Update Time': update_time_list,
     'Business Name': business_name_list
    })

In [33]:
new_scraped_data = pd.concat([old_scraped_data, scraped_data])

In [34]:
new_scraped_data = new_scraped_data.drop_duplicates()

In [35]:
new_scraped_data.to_csv('Scraped Data.csv', index = False)

In [80]:
scraped_data.to_csv('New Scraped Data.csv', index = False)

In [81]:
scraped_data = pd.read_csv('New Scraped Data.csv')

In [82]:
driver.switch_to.window(driver.window_handles[0])

In [83]:
checked_df = scraped_data

In [84]:
checked_df['Result'] = ''

In [85]:
checked_df

,Business ID,Update Time,Business Name,Result
0,1397922133879061637,2022-04-20 13:11:01,PT Benza Teknik Mandiri,
1,1397922133879060652,2022-04-20 13:08:47,PT. SALESINDO CENDRATAMA BUANA,
2,1397922133879060650,2022-04-20 12:50:44,PT. PRIMA FAJAR CAHAYA SURYA,
3,1397922133879022051,2022-04-20 11:22:13,PT Wara Wiri,
4,1397922133879061617,2022-04-20 11:07:33,PT Rangko Jaya Manufacturing,
5,1397922133879061629,2022-04-20 10:56:39,PT KPF JAYAKARTA,
6,1397922133879061626,2022-04-20 10:22:41,PT Jagad Jaya Luggasindo,
7,1397922133879061619,2022-04-20 09:12:40,PT. Konstruksi Era Mandiri,
8,1397922133879061555,2022-04-20 09:10:30,PT Indocore Perkasa,
9,1397922133879048262,2022-04-20 08:37:13,PT. RIFAN FINANCINDO,

In [86]:
pd.options.mode.chained_assignment = None
result = []

try:
    
    for index, all_items in checked_df['Business Name'].iteritems():

        try:

            WebDriverWait(driver, 2).until(EC.element_to_be_clickable((By.XPATH, "//img[@id='logo_djahu']")))

        except:

            break

        all_items = re.sub('[^A-Za-z0-9]+', ' ', all_items)
        web_name = all_items.replace(" ", "+")
        

        change_tbk = re.compile(re.escape('tbk'), re.IGNORECASE)
        web_name = change_tbk.sub('', web_name)


        driver.get("https://ahu.go.id/pencarian/bakum/cari/tipe/perseroan?nama=" + web_name)
        

        time.sleep(1)


        full_name = driver.find_elements(By.XPATH, "//span[@class='match']/..")

        match = driver.find_elements(By.XPATH, "//span[@class='match']")

        if len(match) == 0:

            result.append('Not Match')

            checked_df['Result'][index] = 'Not Match'

            print(all_items + ' : Not Match')

            continue

        else:

            full_name = full_name[0].text.replace("PT ", "")

            if match[0].text == full_name:

                result.append('Match')

                checked_df['Result'][index] = 'Match'

                print(all_items + ' : Match')

                continue


            elif match[0].text != full_name:

                result.append('Partial Match')

                checked_df['Result'][index] = 'Partial Match'

                print(all_items + ' : Partial Match')

                continue

        time.sleep(1)
        
except:
    
    pass

PT Benza Teknik Mandiri : Match
PT SALESINDO CENDRATAMA BUANA : Match
PT PRIMA FAJAR CAHAYA SURYA : Match
PT Wara Wiri : Partial Match
PT Rangko Jaya Manufacturing : Not Match
PT KPF JAYAKARTA : Not Match
PT Jagad Jaya Luggasindo : Match
PT Konstruksi Era Mandiri : Match
PT Indocore Perkasa : Match
PT RIFAN FINANCINDO : Partial Match

In [97]:
checked_df

,Business ID,Update Time,Business Name,Result
0,1397922133879061637,2022-04-20 13:11:01,PT Benza Teknik Mandiri,Match
1,1397922133879060652,2022-04-20 13:08:47,PT. SALESINDO CENDRATAMA BUANA,Match
2,1397922133879060650,2022-04-20 12:50:44,PT. PRIMA FAJAR CAHAYA SURYA,Match
3,1397922133879022051,2022-04-20 11:22:13,PT Wara Wiri,Partial Match
4,1397922133879061617,2022-04-20 11:07:33,PT Rangko Jaya Manufacturing,Not Match
5,1397922133879061629,2022-04-20 10:56:39,PT KPF JAYAKARTA,Not Match
6,1397922133879061626,2022-04-20 10:22:41,PT Jagad Jaya Luggasindo,Match
7,1397922133879061619,2022-04-20 09:12:40,PT. Konstruksi Era Mandiri,Match
8,1397922133879061555,2022-04-20 09:10:30,PT Indocore Perkasa,Match
9,1397922133879048262,2022-04-20 08:37:13,PT. RIFAN FINANCINDO,Partial Match

In [98]:
checked_df.to_csv('New Checked Data.csv', index = False)

In [89]:
old_checked_df = pd.read_csv('Checked Data.csv')

In [90]:
new_checked_df = pd.concat([old_checked_df, checked_df])

In [91]:
new_checked_df.to_csv('Checked Data.csv', index = False)